<h1>Test Results</h1>

<%= form_tag test_results_path, :method => 'get', :id => "test_result_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="test_results">
	<%= render 'test_result_table'%>
  </div>

<% end %>