<h1>Test Results</h1>

<table class="bvt_app_table">
	<thead>
	<tr class="yellow">
		<th width="6%">Date</th>
		<th>Project</th>
		<th>Server</th>
		<th>Client</th>
		<th>Num Tests</th>
		<th>Passed</th>
		<th>Failed</th>
		<th>Actual Fail</th>
		<th>False Neg</th>
		<th width="33%">Comments</th>
	</tr>
	</thead>
	<tbody>
	<%= render @test_results %>
	</tbody>
</table>
<%= link_to "Add Test Result", new_test_result_path %>
<%= will_paginate %>