
<div>
<%= form_tag( send_email_test_result_path(@test_result),  :method => :put) do %>
<table class="bvt_app_add_member_table">
	<tr>
		<td>Email List</td>
		<td><%= select_tag "email_list", options_for_select(EmailList.find(:all).map { |r| r.name }) %></td>	
	</tr>
</table>

<%= render 'results_mailer/email_form' %>

<%= submit_tag 'Send Email' %>

<% end %>


</div>
