<tr>
	<td class="contentcentered"><%= gravatar_for user, :size => 30 %></td>
	<td class="contentcentered"><%= link_to user.name, user %></td>
	
	<% if current_user.admin? %> 
	<td class="contentcentered"><%= button_to "delete", user, :method => :delete, :confirm => "You sure?",
									:title => "Delete #{user.name}" %></td>
	<td class = "contentcentered"><%= link_to "edit", edit_user_path(user) %></td>
	<% else %>
	<td></td>
	<td></td>
	<% end %>
</tr>