<h1>All users</h1>

<%= will_paginate %>

<table class="bvt_app_small_table">
	<thead>
		<tr>
			<th>Gravatar</th>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<%= render @users %>
</table>

<%= will_paginate %>