<% if signed_in? %>
	<%= render 'signed_in'%>

<% else %>
	<h1>Sample App</h1> 
	<p>
		This is the home page for the Zynga Mobile Test Case Automation System (ZMTCAS).
	</p> 
	
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round"%>
<% end %>
