<div>

<h1>All projects</h1>
	
<%= will_paginate %>

<table class="bvt_app_small_table">
	<thead>
		<tr class="yellow">
			<td>Project Name</td>
			<td>Description</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	<%= render @projects %>
	</tbody>
</table

<%= link_to "New Project", new_project_path %>

<%= will_paginate %>

</div>